body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
  border-radius: 50%;
}

a {
  /* background-color: blue; */
  /* color: white; */
  border: 2px solid black;
  color: black;
  border-radius: 6px;
  padding: 15px 0px;
  width: 330px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}